{% extends 'back-office.html.twig' %}

{% block content %}
  
        <div class="row h-100">
        <div class="col-sm-12 my-auto">
            <div class="card card-block w-25 mx-auto">welcome to MyRabbit! <a href="{{ 'login' }}">login</a></div>
        </div>
    </div>
{% endblock %}